body{
  height: 600px;
  
}

.washtag-slider {
  height: 600px;

}

.carousel-item img{
  height: 600px;
  object-fit: cover;
  z-index: -1;
  
}


.carousel-item h1{
  font-family: 'Inconsolata', monospace;
    color: azure; 
    font-size: 35px;
  }

  .carousel-item p{
    font-family: 'Inconsolata', monospace;
      color: azure; 
      font-size: 21px;
    }
  
  .carousel-control-next-icon {
    }